@use "@/assets/styles/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $light-color;
  color: $dark-color;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

input, button {
  outline: none;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: $spacing-unit * 2;
}
