.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // 전체 화면 높이
  background: linear-gradient(135deg, #ffffff, #a29bfe); // 로그인 배경
  
}

.auth-box {
    background-color: black;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
  width: 400px;
  text-align: center;
}
